* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: aliceblue;
    font-family: sans-serif;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px;
    flex-wrap: wrap;
    flex: 1 1 50px;
}

.card:hover {
    background-color: rgb(10, 73, 136) !important;
    transition: all 0.3s linear;
}

.card:hover #icon {
    transform: scale(1.2);  
    transition: all 0.3s linear;
}

#card1 {
    background-color: rgb(20, 97, 174);
}

#card2 {
    background-color: rgb(23, 107, 190);
}

#card3 {
    background-color: rgb(50, 131, 213);
}

#card4 {
    background-color: rgb(71, 158, 245);
}

#icon {
    margin: 25px;
}

.card h4 {
    margin: 10px 0;
    font-size: 20px;
}

@media(min-width: 0) and (max-width: 474.9px) {
    .container {
        width: 100%;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        width: 50%;
    }
}

@media(min-width: 475px) and (max-width: 775.9px) {
    .container {
        width: 100%;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        min-width: 50%;
    }
}

@media(min-width: 776px) and (max-width: 989.9px) {
    .container {
        width: 100%;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        min-width: 50%;
    }
}

@media(min-width: 990px) and (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        width: 25%;
    }
}